body {
    background-image: url("../img/background.jpg");
    background-size: 300px 100px;
}



@media screen and (min-width:10px) {
    .ocultar-div {
        display: none;
    }
}

.contenedor {
    width: 80%;
    margin: 0 auto;
    margin-top: 5%;
    background-color: rgb(0, 0, 0);
    opacity: 0.7;
    padding: 4%;
    border-radius: 2%;
    color: white;
}

.fondo2 {
    height: 300px;
    width: 100%;
    background-image: url("../img/banner.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: white;
    position: relative;
}
.alinea2 {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    color: white;
}